#container {
  justify-content: center;
  align-items: center;
  height: 77vh;
  text-align: center;
}

.file_upload,
#file-module-0 fieldset {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

#file-module-0 input[type='file'] {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#upload,
#add,
#choice {
  border: 1px solid #00b38f;
  background-color: #00b38f;
  color: white;
}

.buttons {
  margin-top: 10px;
}
